[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
networkx = "*"
numpy = "*"
scipy = "*"
requests = "*"
lxml = "*"
sklearn = "*"
nltk = "*"
openpyxl = "*"
pytest = "*"
pydot = "*"

[dev-packages]

[requires]
python_version = "3.6"
