[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
networkx = "*"
numpy = "*"
scipy = "*"
requests = "*"
lxml = "*"
sklearn = "*"
nltk = "*"
openpyxl = "*"
pytest = "*"
pydot = "*"
ipykernel = "*"
matplotlib = "*"
antlr4-python3-runtime = "*"
python-jsonrpc-server = "==0.0.2"
pytest-asyncio = "*"
aenum = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.6"
