../../dataset/icse/buildr	BUILDR	master	https://github.com/apache/buildr.git
../../dataset/icse/cloudstack	CLOUDSTACK	master	https://github.com/apache/cloudstack.git
../../dataset/icse/ace	ACE	trunk	https://github.com/apache/ace.git
../../dataset/icse/systemml	SYSTEMML	master	https://github.com/apache/systemml.git
../../dataset/icse/ambari	AMBARI	trunk	https://github.com/apache/ambari.git
../../dataset/icse/flex-asjs	FLEX	master	https://github.com/apache/flex-asjs.git
../../dataset/icse/flex-falcon	FLEX	master	https://github.com/apache/flex-falcon.git
../../dataset/icse/flex-sdk	FLEX	master	https://github.com/apache/flex-sdk.git
../../dataset/icse/flex-site	FLEX	trunk	https://github.com/apache/flex-site.git
../../dataset/icse/spark	SPARK	master	https://github.com/apache/spark.git
../../dataset/icse/hbase	HBASE	master	https://github.com/apache/hbase.git
../../dataset/icse/hive	HIVE	master	https://github.com/apache/hive.git
../../dataset/icse/cassandra-dtest	CASSANDRA	master	https://github.com/apache/cassandra-dtest.git
../../dataset/icse/cassandra	CASSANDRA	trunk	https://github.com/apache/cassandra.git
../../dataset/icse/cordova-amazon-fireos	CB	master	https://github.com/apache/cordova-amazon-fireos.git
../../dataset/icse/cordova-blackberry	CB	master	https://github.com/apache/cordova-blackberry.git
../../dataset/icse/cordova-cli	CB	master	https://github.com/apache/cordova-cli.git
../../dataset/icse/cordova-coho	CB	master	https://github.com/apache/cordova-coho.git
../../dataset/icse/cordova-docs	CB	master	https://github.com/apache/cordova-docs.git
../../dataset/icse/cordova-js	CB	master	https://github.com/apache/cordova-js.git
../../dataset/icse/cordova-lib	CB	master	https://github.com/apache/cordova-lib.git
../../dataset/icse/cordova-mobile-spec	CB	master	https://github.com/apache/cordova-mobile-spec.git
../../dataset/icse/cordova-plugin-camera	CB	master	https://github.com/apache/cordova-plugin-camera.git
../../dataset/icse/cordova-plugin-contacts	CB	master	https://github.com/apache/cordova-plugin-contacts.git
../../dataset/icse/cordova-plugin-file-transfer	CB	master	https://github.com/apache/cordova-plugin-file-transfer.git
../../dataset/icse/cordova-plugin-file	CB	master	https://github.com/apache/cordova-plugin-file.git
../../dataset/icse/cordova-plugin-geolocation	CB	master	https://github.com/apache/cordova-plugin-geolocation.git
../../dataset/icse/cordova-plugin-inappbrowser	CB	master	https://github.com/apache/cordova-plugin-inappbrowser.git
../../dataset/icse/cordova-plugin-media-capture	CB	master	https://github.com/apache/cordova-plugin-media-capture.git
../../dataset/icse/cordova-plugin-media	CB	master	https://github.com/apache/cordova-plugin-media.git
../../dataset/icse/cordova-plugin-splashscreen	CB	master	https://github.com/apache/cordova-plugin-splashscreen.git
../../dataset/icse/cordova-plugman	CB	master	https://github.com/apache/cordova-plugman.git
../../dataset/icse/cordova-wp8	CB	master	https://github.com/apache/cordova-wp8.git
../../dataset/icse/hadoop	HADOOP	trunk	https://github.com/apache/hadoop.git
../../dataset/icse/hadoop-common	HADOOP	trunk	https://github.com/apache/hadoop-common.git
../../dataset/icse/hadoop-hdfs	HDFS	trunk	https://github.com/apache/hadoop-hdfs.git
../../dataset/icse/camel	CAMEL	master	https://github.com/apache/camel.git
../../dataset/icse/ofbiz-framework	OFBIZ	trunk	https://github.com/apache/ofbiz-framework.git
../../dataset/icse/ofbiz-plugins	OFBIZ	trunk	https://github.com/apache/ofbiz-plugins.git
../../dataset/icse/ofbiz	OFBIZ	trunk	https://github.com/apache/ofbiz.git
../../dataset/icse/lucene-solr	SOLR	master	https://github.com/apache/lucene-solr.git
../../dataset/icse/groovy	GROOVY	master	https://github.com/apache/groovy.git
../../dataset/icse/mesos	MESOS	master	https://github.com/apache/mesos.git
../../dataset/icse/flink	FLINK	master	https://github.com/apache/flink.git
../../dataset/icse/sling	SLING	trunk	https://github.com/apache/sling.git
../../dataset/icse/harmony	HARMONY	trunk	https://github.com/apache/harmony.git
../../dataset/icse/activemq-apollo	AMQ	trunk	https://github.com/apache/activemq-apollo.git
../../dataset/icse/activemq-artemis	AMQ	master	https://github.com/apache/activemq-artemis.git
../../dataset/icse/activemq	AMQ	master	https://github.com/apache/activemq.git
../../dataset/icse/activemq-cpp	AMQCPP	master	https://github.com/apache/activemq-cpp.git
../../dataset/icse/ignite	IGNITE	master	https://github.com/apache/ignite.git
../../dataset/icse/incubator-impala	IMPALA	master	https://github.com/apache/incubator-impala.git
../../dataset/icse/axis1	AXISCPP	trunk	https://github.com/apache/axis1.git
../../dataset/icse/kafka	KAFKA	trunk	https://github.com/apache/kafka.git
../../dataset/icse/drill	DRILL	master	https://github.com/apache/drill.git
../../dataset/icse/felix	FELIX	trunk	https://github.com/apache/felix.git
../../dataset/icse/uima-as	UIMA	trunk	https://github.com/apache/uima-as.git
../../dataset/icse/uima-build	UIMA	trunk	https://github.com/apache/uima-build.git
../../dataset/icse/uima-ducc	UIMA	trunk	https://github.com/apache/uima-ducc.git
../../dataset/icse/uima-ruta	UIMA	trunk	https://github.com/apache/uima-ruta.git
../../dataset/icse/uima-sandbox	UIMA	trunk	https://github.com/apache/uima-sandbox.git
../../dataset/icse/uima-uimafit	UIMA	trunk	https://github.com/apache/uima-uimafit.git
../../dataset/icse/uima-uimaj	UIMA	trunk	https://github.com/apache/uima-uimaj.git
../../dataset/icse/karaf-cellar	KARAF	master	https://github.com/apache/karaf-cellar.git
../../dataset/icse/karaf-decanter	KARAF	master	https://github.com/apache/karaf-decanter.git
../../dataset/icse/karaf	KARAF	master	https://github.com/apache/karaf.git
../../dataset/icse/pig	PIG	trunk	https://github.com/apache/pig.git
../../dataset/icse/maven-2	MNG	maven-2.2.x	https://github.com/apache/maven-2.git
../../dataset/icse/maven-integration-testing	MNG	master	https://github.com/apache/maven-integration-testing.git
../../dataset/icse/maven-plugins	MNG	trunk	https://github.com/apache/maven-plugins.git
../../dataset/icse/maven-release	MNG	trunk	https://github.com/apache/maven-release.git
../../dataset/icse/maven-shared	MNG	trunk	https://github.com/apache/maven-shared.git
../../dataset/icse/maven-site	MNG	trunk	https://github.com/apache/maven-site.git
../../dataset/icse/maven-surefire	MNG	master	https://github.com/apache/maven-surefire.git
../../dataset/icse/maven	MNG	master	https://github.com/apache/maven.git
../../dataset/icse/maven-shared	MSHARED	trunk	https://github.com/apache/maven-shared.git
../../dataset/icse/struts-archive	WW	master	https://github.com/apache/struts-archive.git
../../dataset/icse/struts-sandbox	WW	trunk	https://github.com/apache/struts-sandbox.git
../../dataset/icse/struts	WW	master	https://github.com/apache/struts.git
../../dataset/icse/accumulo	ACCUMULO	master	https://github.com/apache/accumulo.git
../../dataset/icse/subversion	SVN	trunk	https://github.com/apache/subversion.git
../../dataset/icse/thrift	THRIFT	master	https://github.com/apache/thrift.git
../../dataset/icse/nifi-minifi-cpp	NIFI	master	https://github.com/apache/nifi-minifi-cpp.git
../../dataset/icse/nifi	NIFI	master	https://github.com/apache/nifi.git
../../dataset/icse/tuscany-das	TUSCANY	trunk	https://github.com/apache/tuscany-das.git
../../dataset/icse/tuscany-sca-1.x	TUSCANY	trunk	https://github.com/apache/tuscany-sca-1.x.git
../../dataset/icse/tuscany-sca-2.x	TUSCANY	trunk	https://github.com/apache/tuscany-sca-2.x.git
../../dataset/icse/tuscany-sca-cpp	TUSCANY	trunk	https://github.com/apache/tuscany-sca-cpp.git
../../dataset/icse/tuscany-sdo	TUSCANY	trunk	https://github.com/apache/tuscany-sdo.git
../../dataset/icse/pdfbox	PDFBOX	trunk	https://github.com/apache/pdfbox.git
../../dataset/icse/tez	TEZ	master	https://github.com/apache/tez.git
../../dataset/icse/couchdb	COUCHDB	master	https://github.com/apache/couchdb.git
../../dataset/icse/couchdb-couch	COUCHDB	master	https://github.com/apache/couchdb-couch.git
../../dataset/icse/couchdb-futon	COUCHDB	master	https://github.com/apache/couchdb-futon.git
../../dataset/icse/flume	FLUME	trunk	https://github.com/apache/flume.git
../../dataset/icse/oozie	OOZIE	master	https://github.com/apache/oozie.git
../../dataset/icse/struts-archive	STR	master	https://github.com/apache/struts-archive.git
../../dataset/icse/struts-sandbox	STR	trunk	https://github.com/apache/struts-sandbox.git
../../dataset/icse/struts	STR	master	https://github.com/apache/struts.git
../../dataset/icse/servicemix-bundles	SM	master	https://github.com/apache/servicemix-bundles.git
../../dataset/icse/servicemix-components	SM	trunk	https://github.com/apache/servicemix-components.git
../../dataset/icse/servicemix	SM	master	https://github.com/apache/servicemix.git
../../dataset/icse/servicemix3	SM	trunk	https://github.com/apache/servicemix3.git
../../dataset/icse/servicemix4-bundles	SM	trunk	https://github.com/apache/servicemix4-bundles.git
../../dataset/icse/servicemix4-features	SM	trunk	https://github.com/apache/servicemix4-features.git
../../dataset/icse/bigtop	BIGTOP	master	https://github.com/apache/bigtop.git
../../dataset/icse/zeppelin	ZEPPELIN	master	https://github.com/apache/zeppelin.git
../../dataset/icse/zookeeper	ZOOKEEPER	master	https://github.com/apache/zookeeper.git
../../dataset/icse/beam	BEAM	master	https://github.com/apache/beam.git
../../dataset/icse/continuum	CONTINUUM	trunk	https://github.com/apache/continuum.git
../../dataset/icse/openjpa	OPENJPA	trunk	https://github.com/apache/openjpa.git
../../dataset/icse/incubator-trafodion	TRAFODION	master	https://github.com/apache/incubator-trafodion.git
../../dataset/icse/storm	STORM	master	https://github.com/apache/storm.git
../../dataset/icse/kylin	KYLIN	master	https://github.com/apache/kylin.git
../../dataset/icse/tapestry-5	TAP5	master	https://github.com/apache/tapestry-5.git
../../dataset/icse/tapestry3	TAP5	trunk	https://github.com/apache/tapestry3.git
../../dataset/icse/tapestry4	TAP5	trunk	https://github.com/apache/tapestry4.git
../../dataset/icse/tapestry-5	TAPESTRY	master	https://github.com/apache/tapestry-5.git
../../dataset/icse/tapestry3	TAPESTRY	trunk	https://github.com/apache/tapestry3.git
../../dataset/icse/tapestry4	TAPESTRY	trunk	https://github.com/apache/tapestry4.git
../../dataset/icse/airavata-php-gateway	AIRAVATA	master	https://github.com/apache/airavata-php-gateway.git
../../dataset/icse/airavata	AIRAVATA	master	https://github.com/apache/airavata.git
../../dataset/icse/cocoon	COCOON	trunk	https://github.com/apache/cocoon.git
../../dataset/icse/falcon	FALCON	master	https://github.com/apache/falcon.git
../../dataset/icse/flex-falcon	FALCON	master	https://github.com/apache/flex-falcon.git
../../dataset/icse/tajo	TAJO	master	https://github.com/apache/tajo.git
../../dataset/icse/tomee-site	TOMEE	trunk	https://github.com/apache/tomee-site.git
../../dataset/icse/tomee	TOMEE	master	https://github.com/apache/tomee.git
../../dataset/icse/roller	ROL	master	https://github.com/apache/roller.git
../../dataset/icse/avro	AVRO	master	https://github.com/apache/avro.git
../../dataset/icse/asterixdb	ASTERIXDB	master	https://github.com/apache/asterixdb.git
../../dataset/icse/incubator-asterixdb-hyracks	ASTERIXDB	master	https://github.com/apache/incubator-asterixdb-hyracks.git
../../dataset/icse/openejb	OPENEJB	trunk	https://github.com/apache/openejb.git
../../dataset/icse/mahout	MAHOUT	master	https://github.com/apache/mahout.git
../../dataset/icse/logging-log4j2	LOG4J2	master	https://github.com/apache/logging-log4j2.git
../../dataset/icse/atlas	ATLAS	master	https://github.com/apache/atlas.git
../../dataset/icse/shindig	SHINDIG	trunk	https://github.com/apache/shindig.git
../../dataset/icse/kudu	KUDU	master	https://github.com/apache/kudu.git
../../dataset/icse/archiva	MRM	master	https://github.com/apache/archiva.git
../../dataset/icse/aurora	AURORA	master	https://github.com/apache/aurora.git
../../dataset/icse/servicemix-bundles	SMX4	master	https://github.com/apache/servicemix-bundles.git
../../dataset/icse/servicemix-components	SMX4	trunk	https://github.com/apache/servicemix-components.git
../../dataset/icse/servicemix	SMX4	master	https://github.com/apache/servicemix.git
../../dataset/icse/servicemix3	SMX4	trunk	https://github.com/apache/servicemix3.git
../../dataset/icse/servicemix4-bundles	SMX4	trunk	https://github.com/apache/servicemix4-bundles.git
../../dataset/icse/servicemix4-features	SMX4	trunk	https://github.com/apache/servicemix4-features.git
../../dataset/icse/incubator-sentry	SENTRY	master	https://github.com/apache/incubator-sentry.git
../../dataset/icse/sentry	SENTRY	master	https://github.com/apache/sentry.git
../../dataset/icse/reef	REEF	master	https://github.com/apache/reef.git
../../dataset/icse/tinkerpop	TINKERPOP	master	https://github.com/apache/tinkerpop.git
../../dataset/icse/aries	ARIES	trunk	https://github.com/apache/aries.git
../../dataset/icse/ranger	RANGER	master	https://github.com/apache/ranger.git
../../dataset/icse/systemml	SYSTEMML	master	https://github.com/apache/systemml.git
../../dataset/icse/isis	ISIS	master	https://github.com/apache/isis.git
../../dataset/icse/openmeetings	OPENMEETINGS	master	https://github.com/apache/openmeetings.git
../../dataset/icse/stratos	STRATOS	master	https://github.com/apache/stratos.git
../../dataset/icse/ant-ivy	IVY	master	https://github.com/apache/ant-ivy.git
../../dataset/icse/qpid-proton-j	PROTON	master	https://github.com/apache/qpid-proton-j.git
../../dataset/icse/qpid-proton	PROTON	master	https://github.com/apache/qpid-proton.git
../../dataset/icse/incubator-hawq	HAWQ	master	https://github.com/apache/incubator-hawq.git
../../dataset/icse/incubator-airflow	AIRFLOW	master	https://github.com/apache/incubator-airflow.git
../../dataset/icse/stanbol	STANBOL	trunk	https://github.com/apache/stanbol.git
../../dataset/icse/manifoldcf	CONNECTORS	trunk	https://github.com/apache/manifoldcf.git
../../dataset/icse/commons-math	MATH	master	https://github.com/apache/commons-math.git
../../dataset/icse/maven-surefire	SUREFIRE	master	https://github.com/apache/maven-surefire.git
../../dataset/icse/samza	SAMZA	master	https://github.com/apache/samza.git
../../dataset/icse/lens	LENS	master	https://github.com/apache/lens.git
../../dataset/icse/activemq-artemis	ARTEMIS	master	https://github.com/apache/activemq-artemis.git
../../dataset/icse/jclouds	JCLOUDS	master	https://github.com/apache/jclouds.git
../../dataset/icse/usergrid	USERGRID	master	https://github.com/apache/usergrid.git
../../dataset/icse/commons-lang	LANG	master	https://github.com/apache/commons-lang.git
../../dataset/icse/deltaspike	DELTASPIKE	master	https://github.com/apache/deltaspike.git
../../dataset/icse/arrow	ARROW	master	https://github.com/apache/arrow.git
../../dataset/icse/forrest	FOR	trunk	https://github.com/apache/forrest.git
../../dataset/icse/incubator-slider	SLIDER	master	https://github.com/apache/incubator-slider.git
../../dataset/icse/syncope	SYNCOPE	master	https://github.com/apache/syncope.git
../../dataset/icse/olingo-odata2	OLINGO	master	https://github.com/apache/olingo-odata2.git
../../dataset/icse/olingo-odata4	OLINGO	master	https://github.com/apache/olingo-odata4.git
../../dataset/icse/giraph	GIRAPH	trunk	https://github.com/apache/giraph.git
../../dataset/icse/incubator-madlib	MADLIB	master	https://github.com/apache/incubator-madlib.git
../../dataset/icse/directory-studio	DIRSTUDIO	trunk	https://github.com/apache/directory-studio.git
../../dataset/icse/metron	METRON	master	https://github.com/apache/metron.git
../../dataset/icse/synapse	SYNAPSE	trunk	https://github.com/apache/synapse.git
../../dataset/icse/parquet-cpp	PARQUET	master	https://github.com/apache/parquet-cpp.git
../../dataset/icse/parquet-mr	PARQUET	master	https://github.com/apache/parquet-mr.git
../../dataset/icse/ode	ODE	master	https://github.com/apache/ode.git
../../dataset/icse/stdcxx	STDCXX	trunk	https://github.com/apache/stdcxx.git
../../dataset/icse/eagle	EAGLE	master	https://github.com/apache/eagle.git
../../dataset/icse/chemistry-opencmis	CMIS	trunk	https://github.com/apache/chemistry-opencmis.git
../../dataset/icse/mina-sshd	SSHD	master	https://github.com/apache/mina-sshd.git
../../dataset/icse/mina	DIRMINA	trunk	https://github.com/apache/mina.git
../../dataset/icse/incubator-taverna-engine	TAVERNA	master	https://github.com/apache/incubator-taverna-engine.git
../../dataset/icse/incubator-taverna-language	TAVERNA	master	https://github.com/apache/incubator-taverna-language.git
../../dataset/icse/incubator-taverna-workbench	TAVERNA	master	https://github.com/apache/incubator-taverna-workbench.git
../../dataset/icse/clerezza	CLEREZZA	master	https://github.com/apache/clerezza.git
../../dataset/icse/hama	HAMA	master	https://github.com/apache/hama.git
../../dataset/icse/knox	KNOX	master	https://github.com/apache/knox.git
../../dataset/icse/pivot	PIVOT	trunk	https://github.com/apache/pivot.git
../../dataset/icse/servicemix-components	SMXCOMP	trunk	https://github.com/apache/servicemix-components.git
../../dataset/icse/juddi	JUDDI	master	https://github.com/apache/juddi.git
../../dataset/icse/oodt	OODT	master	https://github.com/apache/oodt.git
../../dataset/icse/libcloud	LIBCLOUD	trunk	https://github.com/apache/libcloud.git
../../dataset/icse/climate	CLIMATE	master	https://github.com/apache/climate.git
../../dataset/icse/lucene-solr	LUCENE	master	https://github.com/apache/lucene-solr.git
../../dataset/icse/lucenenet	LUCENENET	master	https://github.com/apache/lucenenet.git
../../dataset/icse/hadoop	YARN	trunk	https://github.com/apache/hadoop.git
../../dataset/icse/hadoop-mapreduce	MAPREDUCE	trunk	https://github.com/apache/hadoop-mapreduce.git
../../dataset/icse/trafficserver	TS	master	https://github.com/apache/trafficserver.git
../../dataset/icse/jackrabbit	JCR	trunk	https://github.com/apache/jackrabbit
../../dataset/icse/myfaces	MYFACES	trunk	https://github.com/apache/myfaces.git
../../dataset/icse/axis1-java	AXIS	trunk	https://github.com/apache/axis1-java.git
../../dataset/icse/axis1	AXIS	trunk	https://github.com/apache/axis1.git
../../dataset/icse/axis2-c	AXIS2C	trunk	https://github.com/apache/axis2-c.git
../../dataset/icse/axis2-java	AXIS2	trunk	https://github.com/apache/axis2-java.git
../../dataset/icse/myfaces-trinidad	MYFACES	trunk	https://github.com/Persper/apache-myfaces-trinidad.git
../../dataset/icse/myfaces-tobago	MYFACES	trunk	https://github.com/Persper/apache-myfaces-tobago.git
../../dataset/icse/myfaces-tomahawk	MYFACES	trunk	https://github.com/Persper/apache-myfaces-tomahawk.git
../../dataset/icse/tika	TIKA	master	https://github.com/apache/tika.git
../../dataset/icse/nutch	NUTCH	master	https://github.com/apache/nutch.git
../../dataset/icse/directory-server	DIRSERVER	trunk	https://github.com/apache/directory-server.git
../../dataset/icse/xerces-c	XERCESC	trunk	https://github.com/apache/xerces-c.git
../../dataset/icse/james-project	JAMES	master	https://github.com/apache/james-project.git
../../dataset/icse/apex-malhar	APEXMALHAR	master	https://github.com/apache/apex-malhar.git
../../dataset/icse/opennlp	OPENNLP	master	https://github.com/apache/opennlp.git
../../dataset/icse/bookkeeper	BOOKKEEPER	master	https://github.com/apache/bookkeeper.git
../../dataset/icse/maven-release	MRELEASE	trunk	https://github.com/apache/maven-release.git
