../../dataset/icse/flex-asjs	FLEX	master	https://github.com/apache/flex-asjs.git
../../dataset/icse/flex-examples	FLEX	master	https://github.com/apache/flex-examples.git
../../dataset/icse/flex-external	FLEX	master	https://github.com/apache/flex-external.git
../../dataset/icse/flex-falcon	FLEX	master	https://github.com/apache/flex-falcon.git
../../dataset/icse/flex-flexunit	FLEX	master	https://github.com/apache/flex-flexunit.git
../../dataset/icse/flex-sdk	FLEX	master	https://github.com/apache/flex-sdk.git
../../dataset/icse/flex-site	FLEX	trunk	https://github.com/apache/flex-site.git
../../dataset/icse/flex-tlf	FLEX	master	https://github.com/apache/flex-tlf.git
../../dataset/icse/flex-utilities	FLEX	master	https://github.com/apache/flex-utilities.git
../../dataset/icse/flex-whiteboard	FLEX	trunk	https://github.com/apache/flex-whiteboard.git
../../dataset/icse/spark-website	SPARK	asf-site	https://github.com/apache/spark-website.git
../../dataset/icse/spark	SPARK	master	https://github.com/apache/spark.git
../../dataset/icse/hbase-thirdparty	HBASE	master	https://github.com/apache/hbase-thirdparty.git
../../dataset/icse/hbase	HBASE	master	https://github.com/apache/hbase.git
../../dataset/icse/hive	HIVE	master	https://github.com/apache/hive.git
../../dataset/icse/cassandra-builds	CASSANDRA	master	https://github.com/apache/cassandra-builds.git
../../dataset/icse/cassandra-dtest	CASSANDRA	master	https://github.com/apache/cassandra-dtest.git
../../dataset/icse/cassandra	CASSANDRA	trunk	https://github.com/apache/cassandra.git
../../dataset/icse/cordova-amazon-fireos	CB	master	https://github.com/apache/cordova-amazon-fireos.git
../../dataset/icse/cordova-app-harness	CB	master	https://github.com/apache/cordova-app-harness.git
../../dataset/icse/cordova-app-hello-world	CB	master	https://github.com/apache/cordova-app-hello-world.git
../../dataset/icse/cordova-bada-wac	CB	master	https://github.com/apache/cordova-bada-wac.git
../../dataset/icse/cordova-blackberry	CB	master	https://github.com/apache/cordova-blackberry.git
../../dataset/icse/cordova-cli	CB	master	https://github.com/apache/cordova-cli.git
../../dataset/icse/cordova-coho	CB	master	https://github.com/apache/cordova-coho.git
../../dataset/icse/cordova-common	CB	master	https://github.com/apache/cordova-common.git
../../dataset/icse/cordova-create	CB	master	https://github.com/apache/cordova-create.git
../../dataset/icse/cordova-docs	CB	master	https://github.com/apache/cordova-docs.git
../../dataset/icse/cordova-electron	CB	master	https://github.com/apache/cordova-electron.git
../../dataset/icse/cordova-fetch	CB	master	https://github.com/apache/cordova-fetch.git
../../dataset/icse/cordova-firefoxos	CB	master	https://github.com/apache/cordova-firefoxos.git
../../dataset/icse/cordova-js	CB	master	https://github.com/apache/cordova-js.git
../../dataset/icse/cordova-labs	CB	master	https://github.com/apache/cordova-labs.git
../../dataset/icse/cordova-lib	CB	master	https://github.com/apache/cordova-lib.git
../../dataset/icse/cordova-medic	CB	master	https://github.com/apache/cordova-medic.git
../../dataset/icse/cordova-mobile-spec	CB	master	https://github.com/apache/cordova-mobile-spec.git
../../dataset/icse/cordova-node-xcode	CB	master	https://github.com/apache/cordova-node-xcode.git
../../dataset/icse/cordova-osx	CB	master	https://github.com/apache/cordova-osx.git
../../dataset/icse/cordova-paramedic	CB	master	https://github.com/apache/cordova-paramedic.git
../../dataset/icse/cordova-plugin-battery-status	CB	master	https://github.com/apache/cordova-plugin-battery-status.git
../../dataset/icse/cordova-plugin-camera	CB	master	https://github.com/apache/cordova-plugin-camera.git
../../dataset/icse/cordova-plugin-compat	CB	master	https://github.com/apache/cordova-plugin-compat.git
../../dataset/icse/cordova-plugin-console	CB	master	https://github.com/apache/cordova-plugin-console.git
../../dataset/icse/cordova-plugin-contacts	CB	master	https://github.com/apache/cordova-plugin-contacts.git
../../dataset/icse/cordova-plugin-device-motion	CB	master	https://github.com/apache/cordova-plugin-device-motion.git
../../dataset/icse/cordova-plugin-device-orientation	CB	master	https://github.com/apache/cordova-plugin-device-orientation.git
../../dataset/icse/cordova-plugin-device	CB	master	https://github.com/apache/cordova-plugin-device.git
../../dataset/icse/cordova-plugin-dialogs	CB	master	https://github.com/apache/cordova-plugin-dialogs.git
../../dataset/icse/cordova-plugin-file-transfer	CB	master	https://github.com/apache/cordova-plugin-file-transfer.git
../../dataset/icse/cordova-plugin-file	CB	master	https://github.com/apache/cordova-plugin-file.git
../../dataset/icse/cordova-plugin-geolocation	CB	master	https://github.com/apache/cordova-plugin-geolocation.git
../../dataset/icse/cordova-plugin-globalization	CB	master	https://github.com/apache/cordova-plugin-globalization.git
../../dataset/icse/cordova-plugin-inappbrowser	CB	master	https://github.com/apache/cordova-plugin-inappbrowser.git
../../dataset/icse/cordova-plugin-legacy-whitelist	CB	master	https://github.com/apache/cordova-plugin-legacy-whitelist.git
../../dataset/icse/cordova-plugin-media-capture	CB	master	https://github.com/apache/cordova-plugin-media-capture.git
../../dataset/icse/cordova-plugin-media	CB	master	https://github.com/apache/cordova-plugin-media.git
../../dataset/icse/cordova-plugin-network-information	CB	master	https://github.com/apache/cordova-plugin-network-information.git
../../dataset/icse/cordova-plugin-splashscreen	CB	master	https://github.com/apache/cordova-plugin-splashscreen.git
../../dataset/icse/cordova-plugin-statusbar	CB	master	https://github.com/apache/cordova-plugin-statusbar.git
../../dataset/icse/cordova-plugin-test-framework	CB	master	https://github.com/apache/cordova-plugin-test-framework.git
../../dataset/icse/cordova-plugin-vibration	CB	master	https://github.com/apache/cordova-plugin-vibration.git
../../dataset/icse/cordova-plugin-whitelist	CB	master	https://github.com/apache/cordova-plugin-whitelist.git
../../dataset/icse/cordova-plugin-wkwebview-engine	CB	master	https://github.com/apache/cordova-plugin-wkwebview-engine.git
../../dataset/icse/cordova-plugins	CB	master	https://github.com/apache/cordova-plugins.git
../../dataset/icse/cordova-plugman	CB	master	https://github.com/apache/cordova-plugman.git
../../dataset/icse/cordova-registry-web	CB	master	https://github.com/apache/cordova-registry-web.git
../../dataset/icse/cordova-registry	CB	master	https://github.com/apache/cordova-registry.git
../../dataset/icse/cordova-serve	CB	master	https://github.com/apache/cordova-serve.git
../../dataset/icse/cordova-template-reference	CB	master	https://github.com/apache/cordova-template-reference.git
../../dataset/icse/cordova-test-platform	CB	master	https://github.com/apache/cordova-test-platform.git
../../dataset/icse/cordova-tizen	CB	master	https://github.com/apache/cordova-tizen.git
../../dataset/icse/cordova-ubuntu	CB	master	https://github.com/apache/cordova-ubuntu.git
../../dataset/icse/cordova-webos	CB	master	https://github.com/apache/cordova-webos.git
../../dataset/icse/cordova-wp7	CB	master	https://github.com/apache/cordova-wp7.git
../../dataset/icse/cordova-wp8	CB	master	https://github.com/apache/cordova-wp8.git
../../dataset/icse/hadoop	HADOOP	trunk	https://github.com/apache/hadoop.git
../../dataset/icse/hadoop-common	HADOOP	trunk	https://github.com/apache/hadoop-common.git
../../dataset/icse/hadoop-hdfs	HDFS	trunk	https://github.com/apache/hadoop-hdfs.git
../../dataset/icse/camel	CAMEL	master	https://github.com/apache/camel.git
../../dataset/icse/ofbiz-framework	OFBIZ	trunk	https://github.com/apache/ofbiz-framework.git
../../dataset/icse/ofbiz-plugins	OFBIZ	trunk	https://github.com/apache/ofbiz-plugins.git
../../dataset/icse/ofbiz	OFBIZ	trunk	https://github.com/apache/ofbiz.git
../../dataset/icse/lucene-solr	SOLR	master	https://github.com/apache/lucene-solr.git
../../dataset/icse/groovy-release	GROOVY	master	https://github.com/apache/groovy-release.git
../../dataset/icse/groovy-user-site	GROOVY	master	https://github.com/apache/groovy-user-site.git
../../dataset/icse/groovy	GROOVY	master	https://github.com/apache/groovy.git
../../dataset/icse/infrastructure-mergebot-test	INFRA	master	https://github.com/apache/infrastructure-mergebot-test.git
../../dataset/icse/infrastructure-puppet-kitchen	INFRA	master	https://github.com/apache/infrastructure-puppet-kitchen.git
../../dataset/icse/infrastructure-whimsy	INFRA	master	https://github.com/apache/infrastructure-whimsy.git
../../dataset/icse/mesos	MESOS	master	https://github.com/apache/mesos.git
../../dataset/icse/bahir-flink	FLINK	master	https://github.com/apache/bahir-flink.git
../../dataset/icse/flink-web	FLINK	master	https://github.com/apache/flink-web.git
../../dataset/icse/flink	FLINK	master	https://github.com/apache/flink.git
../../dataset/icse/sling	SLING	trunk	https://github.com/apache/sling.git
../../dataset/icse/harmony	HARMONY	trunk	https://github.com/apache/harmony.git
../../dataset/icse/activemq-activeio	AMQ	trunk	https://github.com/apache/activemq-activeio.git
../../dataset/icse/activemq-apollo	AMQ	trunk	https://github.com/apache/activemq-apollo.git
../../dataset/icse/activemq-artemis	AMQ	master	https://github.com/apache/activemq-artemis.git
../../dataset/icse/activemq-cli-tools	AMQ	master	https://github.com/apache/activemq-cli-tools.git
../../dataset/icse/activemq-cpp	AMQ	master	https://github.com/apache/activemq-cpp.git
../../dataset/icse/activemq-nms-amqp	AMQ	master	https://github.com/apache/activemq-nms-amqp.git
../../dataset/icse/activemq-nms-api	AMQ	master	https://github.com/apache/activemq-nms-api.git
../../dataset/icse/activemq-nms-ems	AMQ	master	https://github.com/apache/activemq-nms-ems.git
../../dataset/icse/activemq-nms-openwire-generator	AMQ	master	https://github.com/apache/activemq-nms-openwire-generator.git
../../dataset/icse/activemq-nms-openwire	AMQ	master	https://github.com/apache/activemq-nms-openwire.git
../../dataset/icse/activemq-nms-stomp	AMQ	master	https://github.com/apache/activemq-nms-stomp.git
../../dataset/icse/activemq-nms-xms	AMQ	master	https://github.com/apache/activemq-nms-xms.git
../../dataset/icse/activemq-nms-zmq	AMQ	master	https://github.com/apache/activemq-nms-zmq.git
../../dataset/icse/activemq-openwire	AMQ	master	https://github.com/apache/activemq-openwire.git
../../dataset/icse/activemq-protobuf	AMQ	trunk	https://github.com/apache/activemq-protobuf.git
../../dataset/icse/activemq-stomp	AMQ	trunk	https://github.com/apache/activemq-stomp.git
../../dataset/icse/activemq	AMQ	master	https://github.com/apache/activemq.git
../../dataset/icse/ignite	IGNITE	master	https://github.com/apache/ignite.git
../../dataset/icse/incubator-impala	IMPALA	master	https://github.com/apache/incubator-impala.git
../../dataset/icse/axis1	AXISCPP	trunk	https://github.com/apache/axis1.git
../../dataset/icse/axis2-transports	AXIS2	trunk	https://github.com/apache/axis2-transports.git
../../dataset/icse/kafka	KAFKA	trunk	https://github.com/apache/kafka.git
../../dataset/icse/drill	DRILL	master	https://github.com/apache/drill.git
../../dataset/icse/felix	FELIX	trunk	https://github.com/apache/felix.git
../../dataset/icse/uima-addons	UIMA	trunk	https://github.com/apache/uima-addons.git
../../dataset/icse/uima-as	UIMA	trunk	https://github.com/apache/uima-as.git
../../dataset/icse/uima-build	UIMA	trunk	https://github.com/apache/uima-build.git
../../dataset/icse/uima-ducc	UIMA	trunk	https://github.com/apache/uima-ducc.git
../../dataset/icse/uima-ruta	UIMA	trunk	https://github.com/apache/uima-ruta.git
../../dataset/icse/uima-sandbox	UIMA	trunk	https://github.com/apache/uima-sandbox.git
../../dataset/icse/uima-uimacpp	UIMA	trunk	https://github.com/apache/uima-uimacpp.git
../../dataset/icse/uima-uimafit	UIMA	trunk	https://github.com/apache/uima-uimafit.git
../../dataset/icse/uima-uimaj	UIMA	trunk	https://github.com/apache/uima-uimaj.git
../../dataset/icse/karaf-boot	KARAF	master	https://github.com/apache/karaf-boot.git
../../dataset/icse/karaf-cave	KARAF	master	https://github.com/apache/karaf-cave.git
../../dataset/icse/karaf-cellar	KARAF	master	https://github.com/apache/karaf-cellar.git
../../dataset/icse/karaf-decanter	KARAF	master	https://github.com/apache/karaf-decanter.git
../../dataset/icse/karaf-eik	KARAF	master	https://github.com/apache/karaf-eik.git
../../dataset/icse/karaf-site	KARAF	trunk	https://github.com/apache/karaf-site.git
../../dataset/icse/karaf-webconsole	KARAF	master	https://github.com/apache/karaf-webconsole.git
../../dataset/icse/karaf	KARAF	master	https://github.com/apache/karaf.git
../../dataset/icse/accumulo-pig	PIG	master	https://github.com/apache/accumulo-pig.git
../../dataset/icse/pig	PIG	trunk	https://github.com/apache/pig.git
../../dataset/icse/maven-2	MNG	maven-2.2.x	https://github.com/apache/maven-2.git
../../dataset/icse/maven-ant-tasks	MNG	trunk	https://github.com/apache/maven-ant-tasks.git
../../dataset/icse/maven-app-engine	MNG	trunk	https://github.com/apache/maven-app-engine.git
../../dataset/icse/maven-archetype	MNG	master	https://github.com/apache/maven-archetype.git
../../dataset/icse/maven-doxia-sitetools	MNG	trunk	https://github.com/apache/maven-doxia-sitetools.git
../../dataset/icse/maven-doxia-tools	MNG	trunk	https://github.com/apache/maven-doxia-tools.git
../../dataset/icse/maven-doxia	MNG	trunk	https://github.com/apache/maven-doxia.git
../../dataset/icse/maven-enforcer	MNG	trunk	https://github.com/apache/maven-enforcer.git
../../dataset/icse/maven-indexer	MNG	master	https://github.com/apache/maven-indexer.git
../../dataset/icse/maven-integration-testing	MNG	master	https://github.com/apache/maven-integration-testing.git
../../dataset/icse/maven-mercury	MNG	trunk	https://github.com/apache/maven-mercury.git
../../dataset/icse/maven-plugin-tools	MNG	trunk	https://github.com/apache/maven-plugin-tools.git
../../dataset/icse/maven-plugins	MNG	trunk	https://github.com/apache/maven-plugins.git
../../dataset/icse/maven-pom	MNG	trunk	https://github.com/apache/maven-pom.git
../../dataset/icse/maven-release	MNG	trunk	https://github.com/apache/maven-release.git
../../dataset/icse/maven-repository-tools	MNG	trunk	https://github.com/apache/maven-repository-tools.git
../../dataset/icse/maven-resolver	MNG	master	https://github.com/apache/maven-resolver.git
../../dataset/icse/maven-resources	MNG	trunk	https://github.com/apache/maven-resources.git
../../dataset/icse/maven-sandbox	MNG	trunk	https://github.com/apache/maven-sandbox.git
../../dataset/icse/maven-scm	MNG	master	https://github.com/apache/maven-scm.git
../../dataset/icse/maven-shared	MNG	trunk	https://github.com/apache/maven-shared.git
../../dataset/icse/maven-site	MNG	trunk	https://github.com/apache/maven-site.git
../../dataset/icse/maven-skins	MNG	trunk	https://github.com/apache/maven-skins.git
../../dataset/icse/maven-surefire	MNG	master	https://github.com/apache/maven-surefire.git
../../dataset/icse/maven-wagon	MNG	master	https://github.com/apache/maven-wagon.git
../../dataset/icse/maven	MNG	master	https://github.com/apache/maven.git
../../dataset/icse/struts-maven	MNG	trunk	https://github.com/apache/struts-maven.git
../../dataset/icse/tomcat-maven-plugin	MNG	trunk	https://github.com/apache/tomcat-maven-plugin.git
../../dataset/icse/maven-shared	MSHARED	trunk	https://github.com/apache/maven-shared.git
../../dataset/icse/struts-annotations	WW	master	https://github.com/apache/struts-annotations.git
../../dataset/icse/struts-archetypes	WW	master	https://github.com/apache/struts-archetypes.git
../../dataset/icse/struts-archive	WW	master	https://github.com/apache/struts-archive.git
../../dataset/icse/struts-examples	WW	master	https://github.com/apache/struts-examples.git
../../dataset/icse/struts-extras	WW	master	https://github.com/apache/struts-extras.git
../../dataset/icse/struts-master	WW	master	https://github.com/apache/struts-master.git
../../dataset/icse/struts-maven	WW	trunk	https://github.com/apache/struts-maven.git
../../dataset/icse/struts-sandbox	WW	trunk	https://github.com/apache/struts-sandbox.git
../../dataset/icse/struts-site	WW	master	https://github.com/apache/struts-site.git
../../dataset/icse/struts	WW	master	https://github.com/apache/struts.git
../../dataset/icse/accumulo-bsp	ACCUMULO	master	https://github.com/apache/accumulo-bsp.git
../../dataset/icse/accumulo-examples	ACCUMULO	master	https://github.com/apache/accumulo-examples.git
../../dataset/icse/accumulo-instamo-archetype	ACCUMULO	master	https://github.com/apache/accumulo-instamo-archetype.git
../../dataset/icse/accumulo-pig	ACCUMULO	master	https://github.com/apache/accumulo-pig.git
../../dataset/icse/accumulo-testing	ACCUMULO	master	https://github.com/apache/accumulo-testing.git
../../dataset/icse/accumulo-website	ACCUMULO	master	https://github.com/apache/accumulo-website.git
../../dataset/icse/accumulo-wikisearch	ACCUMULO	master	https://github.com/apache/accumulo-wikisearch.git
../../dataset/icse/accumulo	ACCUMULO	master	https://github.com/apache/accumulo.git
../../dataset/icse/subversion	SVN	trunk	https://github.com/apache/subversion.git
../../dataset/icse/thrift	THRIFT	master	https://github.com/apache/thrift.git
../../dataset/icse/nifi-maven	NIFI	master	https://github.com/apache/nifi-maven.git
../../dataset/icse/nifi-minifi-cpp	NIFI	master	https://github.com/apache/nifi-minifi-cpp.git
../../dataset/icse/nifi-registry	NIFI	master	https://github.com/apache/nifi-registry.git
../../dataset/icse/nifi-site	NIFI	master	https://github.com/apache/nifi-site.git
../../dataset/icse/nifi	NIFI	master	https://github.com/apache/nifi.git
../../dataset/icse/tuscany-das	TUSCANY	trunk	https://github.com/apache/tuscany-das.git
../../dataset/icse/tuscany-sca-1.x	TUSCANY	trunk	https://github.com/apache/tuscany-sca-1.x.git
../../dataset/icse/tuscany-sca-2.x	TUSCANY	trunk	https://github.com/apache/tuscany-sca-2.x.git
../../dataset/icse/tuscany-sca-cpp	TUSCANY	trunk	https://github.com/apache/tuscany-sca-cpp.git
../../dataset/icse/tuscany-sdo	TUSCANY	trunk	https://github.com/apache/tuscany-sdo.git
../../dataset/icse/pdfbox-docs	PDFBOX	master	https://github.com/apache/pdfbox-docs.git
../../dataset/icse/pdfbox	PDFBOX	trunk	https://github.com/apache/pdfbox.git
../../dataset/icse/tez	TEZ	master	https://github.com/apache/tez.git
../../dataset/icse/couchdb	COUCHDB	master	https://github.com/apache/couchdb.git
../../dataset/icse/couchdb-b64url	COUCHDB	master	https://github.com/apache/couchdb-b64url.git
../../dataset/icse/couchdb-bear	COUCHDB	master	https://github.com/apache/couchdb-bear.git
../../dataset/icse/couchdb-cassim	COUCHDB	master	https://github.com/apache/couchdb-cassim.git
../../dataset/icse/couchdb-chttpd	COUCHDB	master	https://github.com/apache/couchdb-chttpd.git
../../dataset/icse/couchdb-ci	COUCHDB	master	https://github.com/apache/couchdb-ci.git
../../dataset/icse/couchdb-config	COUCHDB	master	https://github.com/apache/couchdb-config.git
../../dataset/icse/couchdb-couch-dbupdates	COUCHDB	master	https://github.com/apache/couchdb-couch-dbupdates.git
../../dataset/icse/couchdb-couch-epi	COUCHDB	master	https://github.com/apache/couchdb-couch-epi.git
../../dataset/icse/couchdb-couch-event	COUCHDB	master	https://github.com/apache/couchdb-couch-event.git
../../dataset/icse/couchdb-couch-httpd	COUCHDB	master	https://github.com/apache/couchdb-couch-httpd.git
../../dataset/icse/couchdb-couch-index	COUCHDB	master	https://github.com/apache/couchdb-couch-index.git
../../dataset/icse/couchdb-couch-log-lager	COUCHDB	master	https://github.com/apache/couchdb-couch-log-lager.git
../../dataset/icse/couchdb-couch-log	COUCHDB	master	https://github.com/apache/couchdb-couch-log.git
../../dataset/icse/couchdb-couch-mrview	COUCHDB	master	https://github.com/apache/couchdb-couch-mrview.git
../../dataset/icse/couchdb-couch-plugins	COUCHDB	master	https://github.com/apache/couchdb-couch-plugins.git
../../dataset/icse/couchdb-couch-replicator	COUCHDB	master	https://github.com/apache/couchdb-couch-replicator.git
../../dataset/icse/couchdb-couch-stats	COUCHDB	master	https://github.com/apache/couchdb-couch-stats.git
../../dataset/icse/couchdb-couch	COUCHDB	master	https://github.com/apache/couchdb-couch.git
../../dataset/icse/couchdb-ddoc-cache	COUCHDB	master	https://github.com/apache/couchdb-ddoc-cache.git
../../dataset/icse/couchdb-erlang-tests	COUCHDB	master	https://github.com/apache/couchdb-erlang-tests.git
../../dataset/icse/couchdb-ets-lru	COUCHDB	master	https://github.com/apache/couchdb-ets-lru.git
../../dataset/icse/couchdb-examples	COUCHDB	master	https://github.com/apache/couchdb-examples.git
../../dataset/icse/couchdb-fabric	COUCHDB	master	https://github.com/apache/couchdb-fabric.git
../../dataset/icse/couchdb-folsom	COUCHDB	master	https://github.com/apache/couchdb-folsom.git
../../dataset/icse/couchdb-futon	COUCHDB	master	https://github.com/apache/couchdb-futon.git
../../dataset/icse/couchdb-global-changes	COUCHDB	master	https://github.com/apache/couchdb-global-changes.git
../../dataset/icse/couchdb-goldrush	COUCHDB	master	https://github.com/apache/couchdb-goldrush.git
../../dataset/icse/couchdb-ibrowse	COUCHDB	master	https://github.com/apache/couchdb-ibrowse.git
../../dataset/icse/couchdb-ioq	COUCHDB	master	https://github.com/apache/couchdb-ioq.git
../../dataset/icse/couchdb-jquery-couch	COUCHDB	master	https://github.com/apache/couchdb-jquery-couch.git
../../dataset/icse/couchdb-khash	COUCHDB	master	https://github.com/apache/couchdb-khash.git
../../dataset/icse/couchdb-lager	COUCHDB	master	https://github.com/apache/couchdb-lager.git
../../dataset/icse/couchdb-meck	COUCHDB	master	https://github.com/apache/couchdb-meck.git
../../dataset/icse/couchdb-mem3	COUCHDB	master	https://github.com/apache/couchdb-mem3.git
../../dataset/icse/couchdb-mochiweb	COUCHDB	master	https://github.com/apache/couchdb-mochiweb.git
../../dataset/icse/couchdb-nmo	COUCHDB	master	https://github.com/apache/couchdb-nmo.git
../../dataset/icse/couchdb-peruser	COUCHDB	master	https://github.com/apache/couchdb-peruser.git
../../dataset/icse/couchdb-query-server-node	COUCHDB	master	https://github.com/apache/couchdb-query-server-node.git
../../dataset/icse/couchdb-rebar	COUCHDB	master	https://github.com/apache/couchdb-rebar.git
../../dataset/icse/couchdb-setup	COUCHDB	master	https://github.com/apache/couchdb-setup.git
../../dataset/icse/couchdb-snappy	COUCHDB	master	https://github.com/apache/couchdb-snappy.git
../../dataset/icse/couchdb-twig	COUCHDB	master	https://github.com/apache/couchdb-twig.git
../../dataset/icse/couchdb-www	COUCHDB	master	https://github.com/apache/couchdb-www.git
../../dataset/icse/flume	FLUME	trunk	https://github.com/apache/flume.git
../../dataset/icse/oozie	OOZIE	master	https://github.com/apache/oozie.git
../../dataset/icse/struts-annotations	STR	master	https://github.com/apache/struts-annotations.git
../../dataset/icse/struts-archetypes	STR	master	https://github.com/apache/struts-archetypes.git
../../dataset/icse/struts-archive	STR	master	https://github.com/apache/struts-archive.git
../../dataset/icse/struts-examples	STR	master	https://github.com/apache/struts-examples.git
../../dataset/icse/struts-extras	STR	master	https://github.com/apache/struts-extras.git
../../dataset/icse/struts-master	STR	master	https://github.com/apache/struts-master.git
../../dataset/icse/struts-maven	STR	trunk	https://github.com/apache/struts-maven.git
../../dataset/icse/struts-sandbox	STR	trunk	https://github.com/apache/struts-sandbox.git
../../dataset/icse/struts-site	STR	master	https://github.com/apache/struts-site.git
../../dataset/icse/struts	STR	master	https://github.com/apache/struts.git
../../dataset/icse/servicemix-archetypes	SM	trunk	https://github.com/apache/servicemix-archetypes.git
../../dataset/icse/servicemix-bundles	SM	master	https://github.com/apache/servicemix-bundles.git
../../dataset/icse/servicemix-components	SM	trunk	https://github.com/apache/servicemix-components.git
../../dataset/icse/servicemix-documentation	SM	trunk	https://github.com/apache/servicemix-documentation.git
../../dataset/icse/servicemix-maven-plugins	SM	master	https://github.com/apache/servicemix-maven-plugins.git
../../dataset/icse/servicemix-pom	SM	trunk	https://github.com/apache/servicemix-pom.git
../../dataset/icse/servicemix-specs	SM	master	https://github.com/apache/servicemix-specs.git
../../dataset/icse/servicemix-utils	SM	trunk	https://github.com/apache/servicemix-utils.git
../../dataset/icse/servicemix	SM	master	https://github.com/apache/servicemix.git
../../dataset/icse/servicemix3	SM	trunk	https://github.com/apache/servicemix3.git
../../dataset/icse/servicemix4-bundles	SM	trunk	https://github.com/apache/servicemix4-bundles.git
../../dataset/icse/servicemix4-features	SM	trunk	https://github.com/apache/servicemix4-features.git
../../dataset/icse/servicemix4-kernel	SM	trunk	https://github.com/apache/servicemix4-kernel.git
../../dataset/icse/servicemix4-legal	SM	trunk	https://github.com/apache/servicemix4-legal.git
../../dataset/icse/servicemix4-nmr	SM	trunk	https://github.com/apache/servicemix4-nmr.git
../../dataset/icse/servicemix4-specs	SM	trunk	https://github.com/apache/servicemix4-specs.git
../../dataset/icse/servicemix5	SM	trunk	https://github.com/apache/servicemix5.git
../../dataset/icse/bigtop	BIGTOP	master	https://github.com/apache/bigtop.git
../../dataset/icse/zeppelin	ZEPPELIN	master	https://github.com/apache/zeppelin.git
../../dataset/icse/zookeeper	ZOOKEEPER	master	https://github.com/apache/zookeeper.git
../../dataset/icse/beam	BEAM	master	https://github.com/apache/beam.git
../../dataset/icse/continuum	CONTINUUM	trunk	https://github.com/apache/continuum.git
../../dataset/icse/openjpa	OPENJPA	trunk	https://github.com/apache/openjpa.git
../../dataset/icse/incubator-trafodion	TRAFODION	master	https://github.com/apache/incubator-trafodion.git
../../dataset/icse/storm	STORM	master	https://github.com/apache/storm.git
../../dataset/icse/kylin	KYLIN	master	https://github.com/apache/kylin.git
../../dataset/icse/tapestry-5	TAP5	master	https://github.com/apache/tapestry-5.git
../../dataset/icse/tapestry3	TAP5	trunk	https://github.com/apache/tapestry3.git
../../dataset/icse/tapestry4	TAP5	trunk	https://github.com/apache/tapestry4.git
../../dataset/icse/tapestry-5	TAPESTRY	master	https://github.com/apache/tapestry-5.git
../../dataset/icse/tapestry3	TAPESTRY	trunk	https://github.com/apache/tapestry3.git
../../dataset/icse/tapestry4	TAPESTRY	trunk	https://github.com/apache/tapestry4.git
../../dataset/icse/airavata-labs	AIRAVATA	master	https://github.com/apache/airavata-labs.git
../../dataset/icse/airavata-php-gateway	AIRAVATA	master	https://github.com/apache/airavata-php-gateway.git
../../dataset/icse/airavata-sandbox	AIRAVATA	master	https://github.com/apache/airavata-sandbox.git
../../dataset/icse/airavata-site	AIRAVATA	asf-site	https://github.com/apache/airavata-site.git
../../dataset/icse/airavata	AIRAVATA	master	https://github.com/apache/airavata.git
../../dataset/icse/cocoon	COCOON	trunk	https://github.com/apache/cocoon.git
../../dataset/icse/falcon	FALCON	master	https://github.com/apache/falcon.git
../../dataset/icse/flex-falcon	FALCON	master	https://github.com/apache/flex-falcon.git
../../dataset/icse/tajo	TAJO	master	https://github.com/apache/tajo.git
../../dataset/icse/tomee-site-generator	TOMEE	master	https://github.com/apache/tomee-site-generator.git
../../dataset/icse/tomee-site-ng	TOMEE	trunk	https://github.com/apache/tomee-site-ng.git
../../dataset/icse/tomee-site	TOMEE	trunk	https://github.com/apache/tomee-site.git
../../dataset/icse/tomee	TOMEE	master	https://github.com/apache/tomee.git
../../dataset/icse/roller-website	ROL	master	https://github.com/apache/roller-website.git
../../dataset/icse/roller	ROL	master	https://github.com/apache/roller.git
../../dataset/icse/avro	AVRO	master	https://github.com/apache/avro.git
../../dataset/icse/asterixdb	ASTERIXDB	master	https://github.com/apache/asterixdb.git
../../dataset/icse/incubator-asterixdb-hyracks	ASTERIXDB	master	https://github.com/apache/incubator-asterixdb-hyracks.git
../../dataset/icse/openejb	OPENEJB	trunk	https://github.com/apache/openejb.git
../../dataset/icse/mahout	MAHOUT	master	https://github.com/apache/mahout.git
../../dataset/icse/log4j-component	LOG4J2	trunk	https://github.com/apache/log4j-component.git
../../dataset/icse/log4j-extras	LOG4J2	trunk	https://github.com/apache/log4j-extras.git
../../dataset/icse/log4j-receivers	LOG4J2	trunk	https://github.com/apache/log4j-receivers.git
../../dataset/icse/log4j-zeroconf	LOG4J2	trunk	https://github.com/apache/log4j-zeroconf.git
../../dataset/icse/logging-log4j2	LOG4J2	master	https://github.com/apache/logging-log4j2.git
../../dataset/icse/logging-log4j-audit	LOG4J2	master	https://github.com/apache/logging-log4j-audit.git
../../dataset/icse/logging-log4j-boot	LOG4J2	master	https://github.com/apache/logging-log4j-boot.git
../../dataset/icse/logging-log4j-kotlin	LOG4J2	master	https://github.com/apache/logging-log4j-kotlin.git
../../dataset/icse/logging-log4j-plugins	LOG4J2	master	https://github.com/apache/logging-log4j-plugins.git
../../dataset/icse/logging-log4j-scala	LOG4J2	master	https://github.com/apache/logging-log4j-scala.git
../../dataset/icse/logging-log4j-tools	LOG4J2	master	https://github.com/apache/logging-log4j-tools.git
../../dataset/icse/atlas-website	ATLAS	master	https://github.com/apache/atlas-website.git
../../dataset/icse/atlas	ATLAS	master	https://github.com/apache/atlas.git
../../dataset/icse/shindig	SHINDIG	trunk	https://github.com/apache/shindig.git
../../dataset/icse/kudu	KUDU	master	https://github.com/apache/kudu.git
../../dataset/icse/archiva-redback-core	MRM	master	https://github.com/apache/archiva-redback-core.git
../../dataset/icse/archiva-site	MRM	master	https://github.com/apache/archiva-site.git
../../dataset/icse/archiva	MRM	master	https://github.com/apache/archiva.git
../../dataset/icse/aurora-packaging	AURORA	master	https://github.com/apache/aurora-packaging.git
../../dataset/icse/aurora-website	AURORA	master	https://github.com/apache/aurora-website.git
../../dataset/icse/aurora	AURORA	master	https://github.com/apache/aurora.git
../../dataset/icse/servicemix-archetypes	SMX4	trunk	https://github.com/apache/servicemix-archetypes.git
../../dataset/icse/servicemix-bundles	SMX4	master	https://github.com/apache/servicemix-bundles.git
../../dataset/icse/servicemix-components	SMX4	trunk	https://github.com/apache/servicemix-components.git
../../dataset/icse/servicemix-documentation	SMX4	trunk	https://github.com/apache/servicemix-documentation.git
../../dataset/icse/servicemix-maven-plugins	SMX4	master	https://github.com/apache/servicemix-maven-plugins.git
../../dataset/icse/servicemix-pom	SMX4	trunk	https://github.com/apache/servicemix-pom.git
../../dataset/icse/servicemix-specs	SMX4	master	https://github.com/apache/servicemix-specs.git
../../dataset/icse/servicemix-utils	SMX4	trunk	https://github.com/apache/servicemix-utils.git
../../dataset/icse/servicemix	SMX4	master	https://github.com/apache/servicemix.git
../../dataset/icse/servicemix3	SMX4	trunk	https://github.com/apache/servicemix3.git
../../dataset/icse/servicemix4-bundles	SMX4	trunk	https://github.com/apache/servicemix4-bundles.git
../../dataset/icse/servicemix4-features	SMX4	trunk	https://github.com/apache/servicemix4-features.git
../../dataset/icse/servicemix4-kernel	SMX4	trunk	https://github.com/apache/servicemix4-kernel.git
../../dataset/icse/servicemix4-legal	SMX4	trunk	https://github.com/apache/servicemix4-legal.git
../../dataset/icse/servicemix4-nmr	SMX4	trunk	https://github.com/apache/servicemix4-nmr.git
../../dataset/icse/servicemix4-specs	SMX4	trunk	https://github.com/apache/servicemix4-specs.git
../../dataset/icse/servicemix5	SMX4	trunk	https://github.com/apache/servicemix5.git
../../dataset/icse/incubator-sentry	SENTRY	master	https://github.com/apache/incubator-sentry.git
../../dataset/icse/sentry	SENTRY	master	https://github.com/apache/sentry.git
../../dataset/icse/reef	REEF	master	https://github.com/apache/reef.git
../../dataset/icse/tinkerpop	TINKERPOP	master	https://github.com/apache/tinkerpop.git
../../dataset/icse/aries-containers	ARIES	master	https://github.com/apache/aries-containers.git
../../dataset/icse/aries-jax-rs-whiteboard	ARIES	master	https://github.com/apache/aries-jax-rs-whiteboard.git
../../dataset/icse/aries-jpa	ARIES	master	https://github.com/apache/aries-jpa.git
../../dataset/icse/aries-rsa	ARIES	master	https://github.com/apache/aries-rsa.git
../../dataset/icse/aries	ARIES	trunk	https://github.com/apache/aries.git
../../dataset/icse/ranger	RANGER	master	https://github.com/apache/ranger.git
../../dataset/icse/systemml-website	SYSTEMML	master	https://github.com/apache/systemml-website.git
../../dataset/icse/systemml	SYSTEMML	master	https://github.com/apache/systemml.git
../../dataset/icse/isis	ISIS	master	https://github.com/apache/isis.git
../../dataset/icse/openmeetings-site	OPENMEETINGS	master	https://github.com/apache/openmeetings-site.git
../../dataset/icse/openmeetings	OPENMEETINGS	master	https://github.com/apache/openmeetings.git
../../dataset/icse/stratos	STRATOS	master	https://github.com/apache/stratos.git
../../dataset/icse/ant-ivy	IVY	master	https://github.com/apache/ant-ivy.git
../../dataset/icse/ant-ivyde	IVY	master	https://github.com/apache/ant-ivyde.git
../../dataset/icse/qpid-proton-j	PROTON	master	https://github.com/apache/qpid-proton-j.git
../../dataset/icse/qpid-proton	PROTON	master	https://github.com/apache/qpid-proton.git
../../dataset/icse/incubator-hawq-docs	HAWQ	master	https://github.com/apache/incubator-hawq-docs.git
../../dataset/icse/incubator-hawq-site	HAWQ	asf-site	https://github.com/apache/incubator-hawq-site.git
../../dataset/icse/incubator-hawq	HAWQ	master	https://github.com/apache/incubator-hawq.git
../../dataset/icse/incubator-airflow	AIRFLOW	master	https://github.com/apache/incubator-airflow.git
../../dataset/icse/stanbol	STANBOL	trunk	https://github.com/apache/stanbol.git
../../dataset/icse/manifoldcf-integration-sharepoint-2007	CONNECTORS	trunk	https://github.com/apache/manifoldcf-integration-sharepoint-2007.git
../../dataset/icse/manifoldcf-integration-sharepoint-2010	CONNECTORS	trunk	https://github.com/apache/manifoldcf-integration-sharepoint-2010.git
../../dataset/icse/manifoldcf-integration-solr-3.x	CONNECTORS	trunk	https://github.com/apache/manifoldcf-integration-solr-3.x.git
../../dataset/icse/manifoldcf-integration-solr-4.x	CONNECTORS	trunk	https://github.com/apache/manifoldcf-integration-solr-4.x.git
../../dataset/icse/manifoldcf	CONNECTORS	trunk	https://github.com/apache/manifoldcf.git
../../dataset/icse/commons-math	MATH	master	https://github.com/apache/commons-math.git
../../dataset/icse/maven-surefire	SUREFIRE	master	https://github.com/apache/maven-surefire.git
../../dataset/icse/samza-hello-samza	SAMZA	master	https://github.com/apache/samza-hello-samza.git
../../dataset/icse/samza	SAMZA	master	https://github.com/apache/samza.git
../../dataset/icse/lens	LENS	master	https://github.com/apache/lens.git
../../dataset/icse/activemq-artemis	ARTEMIS	master	https://github.com/apache/activemq-artemis.git
../../dataset/icse/jclouds	JCLOUDS	master	https://github.com/apache/jclouds.git
../../dataset/icse/usergrid-android	USERGRID	master	https://github.com/apache/usergrid-android.git
../../dataset/icse/usergrid-dotnet	USERGRID	master	https://github.com/apache/usergrid-dotnet.git
../../dataset/icse/usergrid-java	USERGRID	master	https://github.com/apache/usergrid-java.git
../../dataset/icse/usergrid-javascript	USERGRID	master	https://github.com/apache/usergrid-javascript.git
../../dataset/icse/usergrid-python	USERGRID	master	https://github.com/apache/usergrid-python.git
../../dataset/icse/usergrid-qakka	USERGRID	master	https://github.com/apache/usergrid-qakka.git
../../dataset/icse/usergrid-swift	USERGRID	master	https://github.com/apache/usergrid-swift.git
../../dataset/icse/usergrid	USERGRID	master	https://github.com/apache/usergrid.git
../../dataset/icse/commons-lang	LANG	master	https://github.com/apache/commons-lang.git
../../dataset/icse/deltaspike	DELTASPIKE	master	https://github.com/apache/deltaspike.git
../../dataset/icse/arrow	ARROW	master	https://github.com/apache/arrow.git
../../dataset/icse/forrest	FOR	trunk	https://github.com/apache/forrest.git
../../dataset/icse/incubator-slider	SLIDER	master	https://github.com/apache/incubator-slider.git
../../dataset/icse/syncope	SYNCOPE	master	https://github.com/apache/syncope.git
../../dataset/icse/olingo-odata2	OLINGO	master	https://github.com/apache/olingo-odata2.git
../../dataset/icse/olingo-odata4-js	OLINGO	master	https://github.com/apache/olingo-odata4-js.git
../../dataset/icse/olingo-odata4	OLINGO	master	https://github.com/apache/olingo-odata4.git
../../dataset/icse/giraph	GIRAPH	trunk	https://github.com/apache/giraph.git
../../dataset/icse/incubator-madlib-site	MADLIB	master	https://github.com/apache/incubator-madlib-site.git
../../dataset/icse/incubator-madlib	MADLIB	master	https://github.com/apache/incubator-madlib.git
../../dataset/icse/directory-studio-plugin	DIRSTUDIO	trunk	https://github.com/apache/directory-studio-plugin.git
../../dataset/icse/directory-studio	DIRSTUDIO	trunk	https://github.com/apache/directory-studio.git
../../dataset/icse/metron	METRON	master	https://github.com/apache/metron.git
../../dataset/icse/synapse	SYNAPSE	trunk	https://github.com/apache/synapse.git
../../dataset/icse/parquet-cpp	PARQUET	master	https://github.com/apache/parquet-cpp.git
../../dataset/icse/parquet-format	PARQUET	master	https://github.com/apache/parquet-format.git
../../dataset/icse/parquet-mr	PARQUET	master	https://github.com/apache/parquet-mr.git
../../dataset/icse/ode-console	ODE	master	https://github.com/apache/ode-console.git
../../dataset/icse/ode	ODE	master	https://github.com/apache/ode.git
../../dataset/icse/stdcxx	STDCXX	trunk	https://github.com/apache/stdcxx.git
../../dataset/icse/eagle	EAGLE	master	https://github.com/apache/eagle.git
../../dataset/icse/chemistry-cmislib	CMIS	trunk	https://github.com/apache/chemistry-cmislib.git
../../dataset/icse/chemistry-dotcmis	CMIS	trunk	https://github.com/apache/chemistry-dotcmis.git
../../dataset/icse/chemistry-objectivecmis	CMIS	trunk	https://github.com/apache/chemistry-objectivecmis.git
../../dataset/icse/chemistry-opencmis	CMIS	trunk	https://github.com/apache/chemistry-opencmis.git
../../dataset/icse/chemistry-phpclient	CMIS	trunk	https://github.com/apache/chemistry-phpclient.git
../../dataset/icse/chemistry-portcmis	CMIS	trunk	https://github.com/apache/chemistry-portcmis.git
../../dataset/icse/mina-sshd	DIRMINA	master	https://github.com/apache/mina-sshd.git
../../dataset/icse/mina	DIRMINA	trunk	https://github.com/apache/mina.git
../../dataset/icse/incubator-taverna-commandline	TAVERNA	master	https://github.com/apache/incubator-taverna-commandline.git
../../dataset/icse/incubator-taverna-common-activities	TAVERNA	master	https://github.com/apache/incubator-taverna-common-activities.git
../../dataset/icse/incubator-taverna-databundle-viewer	TAVERNA	master	https://github.com/apache/incubator-taverna-databundle-viewer.git
../../dataset/icse/incubator-taverna-engine	TAVERNA	master	https://github.com/apache/incubator-taverna-engine.git
../../dataset/icse/incubator-taverna-language	TAVERNA	master	https://github.com/apache/incubator-taverna-language.git
../../dataset/icse/incubator-taverna-mobile	TAVERNA	master	https://github.com/apache/incubator-taverna-mobile.git
../../dataset/icse/incubator-taverna-plugin-bioinformatics	TAVERNA	master	https://github.com/apache/incubator-taverna-plugin-bioinformatics.git
../../dataset/icse/incubator-taverna-plugin-component	TAVERNA	master	https://github.com/apache/incubator-taverna-plugin-component.git
../../dataset/icse/incubator-taverna-plugin-gis	TAVERNA	master	https://github.com/apache/incubator-taverna-plugin-gis.git
../../dataset/icse/incubator-taverna-server	TAVERNA	master	https://github.com/apache/incubator-taverna-server.git
../../dataset/icse/incubator-taverna-workbench-common-activities	TAVERNA	master	https://github.com/apache/incubator-taverna-workbench-common-activities.git
../../dataset/icse/incubator-taverna-workbench-product	TAVERNA	master	https://github.com/apache/incubator-taverna-workbench-product.git
../../dataset/icse/incubator-taverna-workbench	TAVERNA	master	https://github.com/apache/incubator-taverna-workbench.git
../../dataset/icse/clerezza-rdf-core	CLEREZZA	master	https://github.com/apache/clerezza-rdf-core.git
../../dataset/icse/clerezza	CLEREZZA	master	https://github.com/apache/clerezza.git
../../dataset/icse/hama	HAMA	master	https://github.com/apache/hama.git
../../dataset/icse/knox	KNOX	master	https://github.com/apache/knox.git
../../dataset/icse/pivot	PIVOT	trunk	https://github.com/apache/pivot.git
../../dataset/icse/servicemix-components	SMXCOMP	trunk	https://github.com/apache/servicemix-components.git
../../dataset/icse/juddi-scout	JUDDI	master	https://github.com/apache/juddi-scout.git
../../dataset/icse/juddi-styles	JUDDI	master	https://github.com/apache/juddi-styles.git
../../dataset/icse/juddi	JUDDI	master	https://github.com/apache/juddi.git
../../dataset/icse/oodt	OODT	master	https://github.com/apache/oodt.git
../../dataset/icse/libcloud	LIBCLOUD	trunk	https://github.com/apache/libcloud.git
../../dataset/icse/climate	CLIMATE	master	https://github.com/apache/climate.git
../../dataset/icse/lucene-solr	LUCENE	master	https://github.com/apache/lucene-solr.git
../../dataset/icse/lucenenet	LUCENE	master	https://github.com/apache/lucenenet.git
../../dataset/icse/hadoop	YARN	trunk	https://github.com/apache/hadoop.git
../../dataset/icse/hadoop-mapreduce	MAPREDUCE	trunk	https://github.com/apache/hadoop-mapreduce.git
../../dataset/icse/trafficserver	TS	master	https://github.com/apache/trafficserver.git
../../dataset/icse/jackrabbit	JCR	trunk	https://github.com/apache/jackrabbit
../../dataset/icse/myfaces	MYFACES	trunk	https://github.com/apache/myfaces.git
../../dataset/icse/axis1-java	AXIS	trunk	https://github.com/apache/axis1-java.git
../../dataset/icse/axis1	AXIS	trunk	https://github.com/apache/axis1.git
../../dataset/icse/axis2-c	AXIS2C	trunk	https://github.com/apache/axis2-c.git
../../dataset/icse/axis2-java	AXIS2	trunk	https://github.com/apache/axis2-java.git
../../dataset/icse/myfaces-trinidad	MYFACES	trunk	https://github.com/Persper/apache-myfaces-trinidad.git
../../dataset/icse/myfaces-tobago	MYFACES	trunk	https://github.com/Persper/apache-myfaces-tobago.git
../../dataset/icse/myfaces-tomahawk	MYFACES	trunk	https://github.com/Persper/apache-myfaces-tomahawk.git
../../dataset/icse/tika	TIKA	master	https://github.com/apache/tika.git
../../dataset/icse/nutch	NUTCH	master	https://github.com/apache/nutch.git
../../dataset/icse/directory-server	DIRSERVER	trunk	https://github.com/apache/directory-server.git
../../dataset/icse/xerces-c	XERCESC	trunk	https://github.com/apache/xerces-c.git
../../dataset/icse/james-project	JAMES	master	https://github.com/apache/james-project.git
../../dataset/icse/apex-malhar	APEXMALHAR	master	https://github.com/apache/apex-malhar.git
../../dataset/icse/opennlp	OPENNLP	master	https://github.com/apache/opennlp.git
../../dataset/icse/bookkeeper	BOOKKEEPER	master	https://github.com/apache/bookkeeper.git
../../dataset/icse/maven-release	MRELEASE	trunk	https://github.com/apache/maven-release.git
