~/Persper/repos/hbase	HBASE	rel/1.3.0	999999
~/Persper/repos/spark	SPARK	v2.1.0	999999
~/Persper/repos/zookeeper	ZOOKEEPER	release-3.4.9	999999
~/Persper/repos/incubator-systemml	SYSTEMML	v0.13.0-incubating-rc2	999999
~/Persper/repos/maven	MNG	maven-3.3.9	999999
~/Persper/repos/cassandra       CASSANDRA       cassandra-3.10  999999
~/Persper/repos/couchdb	COUCHDB	2.0.0	999999
~/Persper/repos/hive	HIVE	rel/release-2.1.1	999999
~/Persper/repos/activemq	AMQ	activemq-5.14.4	999999
~/Persper/repos/ace	ACE	trunk	999999
~/Persper/repos/aurora	AURORA	master	999999
~/Persper/repos/beam	BEAM	master	999999
