../../repos/hbase	HBASE	rel/1.3.1	https://github.com/apache/hbase.git
../../repos/spark	SPARK	v2.1.1	https://github.com/apache/spark.git
../../repos/zookeeper	ZOOKEEPER	release-3.5.3	https://github.com/apache/zookeeper.git
../../repos/incubator-systemml	SYSTEMML	v0.14.0-incubating-rc4	https://github.com/apache/incubator-systemml.git
../../repos/maven	MNG	maven-3.5.0	https://github.com/apache/maven.git
../../repos/cassandra	CASSANDRA	cassandra-3.11.0  https://github.com/apache/cassandra.git
../../repos/couchdb	COUCHDB	2.0.0	https://github.com/apache/couchdb.git
../../repos/hive	HIVE	release-2.3.0-rc0	https://github.com/apache/hive.git
../../repos/activemq	AMQ	activemq-5.15.0	https://github.com/apache/activemq.git
../../repos/beam	BEAM	v2.0.0	https://github.com/apache/beam.git
../../repos/cloudstack	CLOUDSTACK	4.9.2.0	https://github.com/apache/cloudstack.git
../../repos/ambari	AMBARI	release-2.5.1	https://github.com/apache/ambari.git
../../repos/geode	GEODE	rel/v1.1.1	https://github.com/apache/geode.git
../../repos/jackrabbit	JCR	jackrabbit-2.15.4	https://github.com/apache/jackrabbit.git
../../repos/airavata	AIRAVATA	airavata-0.16	https://github.com/apache/airavata.git
../../repos/ant-ivy	IVY	2.4.0	https://github.com/apache/ant-ivy.git
../../repos/archiva	MRM	archiva-2.2.3	https://github.com/apache/archiva.git
../../repos/arrow	ARROW	apache-arrow-0.4.1	https://github.com/apache/arrow.git
../../repos/avro	AVRO	release-1.8.2	https://github.com/apache/avro.git
../../repos/buildr	BUILDR	1.4.25	https://github.com/apache/buildr.git
../../repos/camel	CAMEL	camel-2.19.1	https://github.com/apache/camel.git
